*{
    margin:0;
    padding:0;
    list-style-type: none;
    text-decoration: none;
}
.container{
    width:100%;
}

.navbar{
    background-color:#007193;
    padding:15px;
    height:12px;
}
.logo{
    display:Flex;
    justify-content: center;
    background-color:#E2D7D7;
}
.logo img{
    width:9%;
    height:100px;
}
.inner-navbar{
    margin-right:5px;
}
li{
    float:right;
}
li a{
    display:inline-block;
    color:white;
    margin-right:20px;
}
li .dropdown{
    display:inline-block;
}
.dropdown-content{
    display:none;
    position:absolute;
}
.dropdown-content a{
    color:white;
    padding:15px;
    display:block;
    background-color:#007193;
}
.dropdown:hover .dropdown-content{
    display:block;
}
.dropdown-content a:hover{
    background-color:#E2D7D7;
}
.tagline{
    background-image:url('../AssetHCI/background.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    display:flex;
    align-items: center;
    height:200px;
    width:100%;
}
.inner_tagline{
    margin:auto;
}
.inner_tagline h1{
    margin:20px;
    color:white;
}
.inner_tagline p{
    color:white;
}
.content{
    background-color:#E2D7D7;
}
.wrapper{
    display:flex;
}
.language{
    background-color: #768A95;
    margin-right:50px;
    margin-top:20px;
    margin-left:20px;
    padding:10px;
    height:150px;
    width:100px;
}
.language p{
    margin:7px;
    color:white;
}
.mega_wrapper{
    margin-bottom:100px;
}
.questions{
    background-color:#EBE8E2;
    display:Flex;
    width:1000px;
    height:70px;
    padding:2%;
    margin-top:20px;
    margin-bottom:0;
}
.detail{
    display: flex;
    margin-left:55%;
}
.answer-wrapper h3{
    margin-left:12px;
}
.detail p{
    margin-right:5px;
}
.footer{
    background-color:#007193;
    text-align:center;
}
.footer p{
    color:white;
}
@media only screen and (max-width:500px){
    *{
        margin:0;
        padding:0;
        list-style-type: none;
        text-decoration: none;
    }
    .container{
        width:100%;
    }
    .logo img{
        width:20%;
        height:50px;
    }
    .navbar{
        background-color:#007193;
        padding:15px;
        height:12px;
    }
    
    li{
        float:right;
    }
    li a{
        display:inline-block;
        color:white;
        margin-right:15px;
    }
    li .dropdown{
        display:inline-block;
    }
    .dropdown-content{
        display:none;
        position:absolute;
    }
    .dropdown-content a{
        color:white;
        padding:10px;
        display:block;
        background-color:#007193;
    }
    .dropdown:hover .dropdown-content{
        display:block;
       
    }
    .dropdown-content a:hover{
        background-color:#E2D7D7;
    }
    .tagline{
        background-image:url('../AssetHCI/background.jpg');
        background-repeat:no-repeat;
        background-size:cover;
        display:flex;
        align-items: center;
        height:200px;
    }
    .inner_tagline{
        margin:auto;
    }
    .inner_tagline h1{
        margin:20px;
        color:white;
    }
    .inner_tagline p{
        color:white;
    }
    .content{
        background-color:#E2D7D7;
    }
    .wrapper{
        display:flex;
    }
    .language{
        background-color: #768A95;
        margin-right:20px;
        margin-top:20px;
        margin-left:20px;
        padding:5px;
        height:150px;
        width:80px;
    }
    .language p{
        margin:5px;
        color:white;
    }
    .mega_wrapper{
        margin-bottom:100px;
    }
    .questions{
        background-color:#EBE8E2;
        display:block;
        width:170px;
        height:70px;
        padding:30px;
        margin-top:20px;
        margin-bottom:0;
    }
    .questions h3{
        font-size:80%;
    }
    .questions p{
        font-size:80%;
    }
    .questions-wrapper{
        margin-bottom:25px;
    }
    .detail{
        display: flex;
        margin-left:5px;
        margin-top:10px;
    }
    
    .detail p{
        margin-right:10px;
        font-size:70%;
    }
    .footer{
        background-color:#007193;
        text-align:center;
    }
    .footer p{
        color:white;
    }
}